.cardScroll {
  width: auto;
  height: 60vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

.flexRow {
  display: flex;
  align-items: center;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 15px;
}

.category {
  font-size: 1.2rem;
  font-weight: bold;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 1.7rem;
  margin-right: 20px;
}

.flexRow button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
